from django import forms
from .models import *

class ClienteForm(forms.ModelForm):
    class Meta:
        model = Clientes
        fields = "__all__"

class CitaForm(forms.ModelForm):
    class Meta:
        model = Citas
        fields = "__all__"

class InventarioForm(forms.ModelForm):
    class Meta:
        model = Inventario
        fields = "__all__"
