<FilesMatch "\.(ini|env|config|sql|sh)$">
    Order allow,deny
    Deny from all
</FilesMatch>

Header always append X-Frame-Options SAMEORIGIN
Header set X-XSS-Protection "1; mode=block"
RewriteEngine On

# Ejemplo si algún día usas index.php como router
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
