from django.contrib import admin
from .models import *

admin.site.register(Clientes)
admin.site.register(CategoriasEmpleados)
admin.site.register(Empleados)
admin.site.register(Especialidades)
admin.site.register(EmpleadoEspecialidad)
admin.site.register(FichasMedicas)
admin.site.register(Salas)
admin.site.register(CategoriasTratamientos)
admin.site.register(Tratamientos)
admin.site.register(TratamientosPrevios)
admin.site.register(Citas)
admin.site.register(Pagos)
admin.site.register(Valoraciones)
admin.site.register(Proveedores)
admin.site.register(Inventario)
admin.site.register(ConsumoMaterial)
admin.site.register(MovimientosInventario)
admin.site.register(CampañasMarketing)
admin.site.register(DescuentosPromociones)
admin.site.register(CitaPromocion)
admin.site.register(LogsActividad)
admin.site.register(EstadisticasDiarias)