{% extends "core/base.html" %}
{% block content %}
<h1>Citas</h1>
<a href="{% url 'core:appointment_create' %}" class="btn btn-success mb-3">Nueva cita</a>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Paciente</th>
        <th>Médico</th>
        <th>Estado</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for c in appointments %}
        <tr>
            <td>{{ c.date }}</td>
            <td>{{ c.time }}</td>
            <td>{{ c.patient }}</td>
            <td>{{ c.doctor }}</td>
            <td>{{ c.get_status_display }}</td>
            <td>
                <a href="{% url 'core:appointment_update' c.pk %}" class="btn btn-sm btn-primary">Editar</a>
                <a href="{% url 'core:appointment_delete' c.pk %}" class="btn btn-sm btn-danger">Borrar</a>
            </td>
        </tr>
    {% empty %}
        <tr><td colspan="6">No hay citas.</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
