{% extends "core/base.html" %}
{% block content %}
<h2>Cliente: {{ cliente.nombre }} {{ cliente.apellido }}</h2>

<ul>
    <li>DNI: {{ cliente.dni }}</li>
    <li>Email: {{ cliente.correo }}</li>
    <li>Teléfono: {{ cliente.telefono }}</li>
    <li>Dirección: {{ cliente.direccion }}</li>
</ul>

{% endblock %}
