from django.urls import path
from . import views

app_name = "core"

urlpatterns = [
    path("", views.dashboard, name="dashboard"),

    # Citas
    path("citas/", views.appointment_list, name="appointment_list"),
    path("citas/nueva/", views.appointment_create, name="appointment_create"),
    path("citas/<int:pk>/editar/", views.appointment_update, name="appointment_update"),
    path("citas/<int:pk>/borrar/", views.appointment_delete, name="appointment_delete"),

    # Pacientes
    path("pacientes/", views.patient_list, name="patient_list"),
    path("pacientes/nuevo/", views.patient_create, name="patient_create"),
    path("pacientes/<int:pk>/editar/", views.patient_update, name="patient_update"),

    # Stock
    path("stock/", views.stock_list, name="stock_list"),
    path("stock/nuevo/", views.stock_create, name="stock_create"),
    path("stock/<int:pk>/editar/", views.stock_update, name="stock_update"),
]
