{% extends "public/base_public.html" %}
{% block content %}

<div class="text-center">
    <h2>¡Gracias por reservar!</h2>
    <p>Nos pondremos en contacto contigo para confirmar tu cita.</p>
    <a href="/" class="btn btn-primary mt-3">Volver al inicio</a>
</div>

{% endblock %}
