{% extends "public/base_public.html" %}
{% block content %}

<div class="text-center">
    <h1 class="mb-3">Bienvenido a nuestra Clínica Estética</h1>
    <p class="lead">Tratamientos profesionales, resultados visibles.</p>
    <a class="btn btn-primary btn-lg mt-3" href="/pedir-cita/">Reservar Cita</a>
</div>

{% endblock %}