{% extends "public/base_public.html" %}
{% block content %}
<h2 class="mb-4">Nuestros Servicios</h2>

<ul class="list-group">
    <li class="list-group-item">Depilación Láser</li>
    <li class="list-group-item">Rejuvenecimiento Facial</li>
    <li class="list-group-item">Limpieza Facial Profesional</li>
    <li class="list-group-item">Tratamientos Corporales</li>
    <li class="list-group-item">Bótox y Rellenos</li>
</ul>
{% endblock %}
