[Unit]
Description=Gunicorn service for Django clinica project
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/clinica_app
Environment="PATH=/var/www/clinica_app/venv/bin"
ExecStart=/var/www/clinica_app/venv/bin/gunicorn --workers 3 --bind unix:/var/www/clinica_app/clinica.sock clinica.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target
