<VirtualHost *:80>
    ServerAdmin admin@clinica.local
    DocumentRoot {{ directories.web }}

    <Directory {{ directories.web }}>
        AllowOverride All
        Options Indexes FollowSymLinks
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/app_error.log
    CustomLog ${APACHE_LOG_DIR}/app_access.log combined
</VirtualHost>
