<?php
session_start();

if (!isset($_SESSION["usuario"])) {
    header("Location: index.php");
    exit;
}

function requireRole($roles = []) {
    if (!in_array($_SESSION["rol"], $roles)) {
        die("No tienes permisos para acceder a esta sección.");
    }
}
?>
