<?php
if (isset($_POST['username']) && isset($_POST['password'])) {
    $username = $_POST['username'];
    $password = $_POST['password'];

    $stmt = $pdo->prepare("SELECT password_hash FROM Usuarios WHERE nombre_usuario = ?");
    $stmt->execute([$username]);
    $stored_hash = $stmt->fetchColumn();

    if (password_verify($password, $stored_hash)) {
        $_SESSION["usuario"] = $username;
        header("Location: dashboard.php");
        exit;
    } else {
        echo "Usuario o contraseña incorrecta.";
    }
} else {
    echo "";
}
?>

