{% extends 'base.html' %}
{% block content %}
<h2>Citas</h2>

<a href="/citas/nueva/" class="btn btn-primary mb-3">Nueva Cita</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Empleado</th>
            <th>Tratamiento</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% for c in citas %}
        <tr>
            <td>{{ c.cliente }}</td>
            <td>{{ c.empleado }}</td>
            <td>{{ c.tratamiento }}</td>
            <td>{{ c.fecha_cita }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
