{% extends 'base.html' %}
{% block content %}
<h2>Clientes</h2>

<a href="/clientes/nuevo/" class="btn btn-primary mb-3">Nuevo Cliente</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Teléfono</th>
        </tr>
    </thead>
    <tbody>
        {% for c in clientes %}
        <tr>
            <td>{{ c.nombre }} {{ c.apellido }}</td>
            <td>{{ c.edad }}</td>
            <td>{{ c.telefono }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
