from django.contrib import admin
from .models import *

admin.site.register(CategoriaEmpleado)
admin.site.register(Empleado)
admin.site.register(Cliente)
admin.site.register(CategoriaTratamiento)
admin.site.register(Tratamiento)
admin.site.register(Cita)
