server {
    listen 80;

    server_name _;

    location /static/ {
        alias /var/www/clinica_app/static/;
    }

    location / {
        proxy_pass http://unix:/var/www/clinica_app/gunicorn.sock;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
