[Unit]
Description=Gunicorn service for {{ project_name }}
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory={{ project_path }}
Environment="PATH={{ project_path }}/venv/bin"
ExecStart={{ project_path }}/venv/bin/gunicorn clinica.wsgi:application --bind 0.0.0.0:8000 --workers {{ gunicorn_workers | default(4) }}

[Install]
WantedBy=multi-user.target
