{% raw %}
server {
    listen 80;
    server_name _;

    root {{ django_static_root }};

    location /static/ {
        autoindex off;
        alias {{ django_static_root }}/;
    }

    location /media/ {
        autoindex off;
        alias {{ django_media_root }}/;
    }

    location / {
        proxy_pass http://127.0.0.1:{{ gunicorn_bind_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
{% endraw %}
