[Unit]
Description=Gunicorn Django Service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/clinica_app
ExecStart=/var/www/clinica_app/venv/bin/gunicorn \
        --workers 3 \
        --bind unix:/var/www/clinica_app/gunicorn.sock \
        clinica.wsgi:application

[Install]
WantedBy=multi-user.target
