from django.contrib import admin
from django.urls import path, include

urlpatterns = [
    path("admin/", admin.site.urls),          # Panel interno
    path("", include("core.urls_public")),    # Web pública
]
