</div> <!-- cierre container -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="/app/assets/js/custom.js"></script>

</body>
</html>
