<?php
require "config.php";

if ($_SERVER["REQUEST_METHOD"] === "POST") {
    
    $user = $_POST["usuario"];
    $pass = $_POST["password"];

    $stmt = $pdo->prepare("SELECT * FROM Usuarios WHERE nombre_usuario = ? AND activo = 1 LIMIT 1");
    $stmt->execute([$user]);
    $row = $stmt->fetch();

    if ($row && password_verify($pass, $row["password_hash"])) {
        $_SESSION["user"] = $row["nombre_usuario"];
        $_SESSION["rol"] = $row["rol"];
        header("Location: dashboard.php");
        exit;
    }

    $error = "Usuario o contraseña incorrectos";
}
?>

<?php $pageTitle="Iniciar Sesión"; include "header.php"; ?>
<div class="container col-md-4 mt-5 p-4 shadow bg-white rounded">
    <h3 class="text-center">Acceso</h3>

    <?php if(isset($error)): ?>
    <div class="alert alert-danger text-center"><?= $error ?></div>
    <?php endif; ?>

    <form method="POST">
        <label>Usuario</label>
        <input class="form-control mb-3" type="text" name="usuario" required>

        <label>Contraseña</label>
        <input class="form-control mb-4" type="password" name="password" required>

        <button class="btn btn-primary w-100">Entrar</button>
    </form>
</div>
<?php include "footer.php"; ?>
