frontend http_front
    bind *:80
    mode http
    default_backend django_servers

backend django_servers
    mode http
    balance roundrobin

    server frontend1 {{ frontend1_ip }}:80 check
    server frontend2 {{ frontend2_ip }}:80 check
