upstream django_upstream {
    server frontend1:80;
    server frontend2:80;
}

server {
    listen 80;
    server_name _;

    location / {
        proxy_pass http://django_upstream;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
