<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="dashboard.php">Clínica Estética</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a href="dashboard.php" class="nav-link">Dashboard</a></li>
        <li class="nav-item"><a href="clientes.php" class="nav-link">Clientes</a></li>
        <li class="nav-item"><a href="empleados.php" class="nav-link">Empleados</a></li>
        <li class="nav-item"><a href="tratamientos.php" class="nav-link">Tratamientos</a></li>
        <li class="nav-item"><a href="inventario.php" class="nav-link">Inventario</a></li>
        <li class="nav-item"><a href="citas.php" class="nav-link">Citas</a></li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="logout.php" class="nav-link text-warning fw-bold">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
