---
- name: Deploy Django sincronizado con DB
  hosts: frontend
  become: yes

  vars_files:
    - ../vars/variables.yml

  vars:
    project_path: /var/www/clinica_app
    venv_path: /var/www/clinica_app/venv

  tasks:

    - name: Borrar core viejo
      file:
        path: "{{ project_path }}/core"
        state: absent

    - name: Crear core limpio
      file:
        path: "{{ project_path }}/core"
        state: directory

    - name: Copiar models.py
      template:
        src: "../templates/core/core_models.py.j2"
        dest: "{{ project_path }}/core/models.py"

    - name: Copiar admin.py
      template:
        src: "../templates/core/core_admin.py.j2"
        dest: "{{ project_path }}/core/admin.py"

    - name: Copiar apps.py
      template:
        src: "../templates/core/core_apps.py.j2"
        dest: "{{ project_path }}/core/apps.py"

    - name: Generar migraciones del core
      command: "{{ venv_path }}/bin/python manage.py makemigrations core"
      args:
        chdir: "{{ project_path }}"

    - name: Aplicar migraciones
      command: "{{ venv_path }}/bin/python manage.py migrate"
      args:
        chdir: "{{ project_path }}"

    - name: Reiniciar Gunicorn
      systemd:
        name: gunicorn
        state: restarted

    - name: Reiniciar nginx
      systemd:
        name: nginx
        state: restarted
