---
- name: Importar SQL completo de la clínica
  hosts: backend1
  become: yes

  vars_files:
    - ../vars/variables.yml

  tasks:

    - name: Crear base de datos si no existe
      mysql_db:
        name: "{{ db.name }}"
        state: present
        login_user: root
        login_password: "{{ db.root_password }}"

    - name: Copiar SQL completo
      copy:
        src: ../sql/clinica.sql
        dest: /tmp/clinica.sql

    - name: Importar SQL grande manualmente (mucho más estable)
      shell: |
        mysql -u root -p"{{ db.root_password }}" {{ db.name }} < /tmp/clinica.sql
