---
- name: Desplegar aplicación completa en Frontends
  hosts: frontend
  become: yes

  vars_files:
    - ../vars/variables.yml

  tasks:

    - name: Borrar archivos PHP antiguos (excepto media/)
      shell: |
        find {{ directories.www }} -maxdepth 1 -type f -name "*.php" -delete

    - name: Copiar todos los templates PHP automáticamente
      template:
        src: "{{ item }}"
        dest: "{{ directories.www }}/{{ item | basename | regex_replace('.j2', '') }}"
        owner: www-data
        group: www-data
        mode: '0644'
      with_fileglob:
        - "../templates/*.php.j2"

    - name: Copiar archivos estáticos CSS/JS
      template:
        src: "{{ item }}"
        dest: "{{ directories.www }}/{{ item | basename | regex_replace('.j2','') }}"
        owner: www-data
        group: www-data
        mode: '0644'
      with_fileglob:
        - "../templates/*.css.j2"
        - "../templates/*.js.j2"

    - name: Copiar .htaccess
      template:
        src: "../templates/htaccess.j2"
        dest: "{{ directories.www }}/.htaccess"
        owner: www-data
        group: www-data
        mode: '0644'

    - name: Reiniciar Apache
      service:
        name: apache2
        state: restarted

