---
- name: Desplegar estructura BD clínica
  hosts: backend1
  become: yes
  vars_files:
    - ../vars/variables.yml

  tasks:
    - name: Copiar estructura clínica
      copy:
        src: ../sql/clinica_estructura.sql
        dest: /tmp/clinica_estructura.sql

    - name: Importar estructura clínica
      mysql_db:
        name: "{{ db.name }}"
        state: import
        target: /tmp/clinica_estructura.sql
        login_user: root
        login_password: "{{ db.root_password }}"

    - name: Copiar generador de datos
      copy:
        src: ../sql/clinica_datos_demo.sql
        dest: /tmp/clinica_datos_demo.sql

    - name: Ejecutar datos demo
      mysql_db:
        name: "{{ db.name }}"
        state: import
        target: /tmp/clinica_datos_demo.sql
        login_user: root
        login_password: "{{ db.root_password }}"
