---
- name: Desplegar configuración de Nginx para Django
  hosts: frontend
  become: yes
  vars_files:
    - ../vars/variables.yml

  tasks:
    - name: Instalar nginx
      apt:
        name: nginx
        state: present

    - name: Copiar configuración nginx
      template:
        src: ../templates/django_nginx.conf.j2
        dest: /etc/nginx/sites-available/clinica.conf

    - name: Activar config nginx
      file:
        src: /etc/nginx/sites-available/clinica.conf
        dest: /etc/nginx/sites-enabled/clinica.conf
        state: link
        force: yes

    - name: Eliminar default nginx
      file:
        path: /etc/nginx/sites-enabled/default
        state: absent

    - name: Reiniciar nginx
      systemd:
        name: nginx
        state: restarted
