---
- name: Deploy backend SQL
  hosts: backend
  become: yes

  vars_files:
    - ../vars/variables.yml

  tasks:

    - name: Copiar SQL
      copy:
        src: "../sql/"
        dest: "/home/ubuntu/sql/"

    - name: Importar estructura
      shell: "mysql -u root -p{{ db.root_password }} {{ db.name }} < /home/ubuntu/sql/clinica_estructura.sql"

    - name: Importar datos base
      shell: "mysql -u root -p{{ db.root_password }} {{ db.name }} < /home/ubuntu/sql/clinica_datos_base.sql"

    - name: Importar datos demo
      shell: "mysql -u root -p{{ db.root_password }} {{ db.name }} < /home/ubuntu/sql/clinica_datos_demo.sql"
