---
- name: Configurar HTTPS con Let's Encrypt
  hosts: loadbalancer
  become: yes
  vars_files:
    - ../vars/variables.yml

  tasks:

    - name: Instalar snapd
      apt:
        name: snapd
        state: present
        update_cache: yes

    - name: Instalar certbot
      snap:
        name: certbot
        classic: yes
        state: present

    - name: Crear alias
      command: ln -s /snap/bin/certbot /usr/bin/certbot
      args:
        creates: /usr/bin/certbot

    - name: Solicitar certificados
      command: >
        certbot --nginx
        -m {{ certbot.email }}
        --agree-tos
        --no-eff-email
        --non-interactive
        -d {{ certbot.domain }}
      ignore_errors: yes
