---
- name: Configurar Django en servidores frontend
  hosts: frontend
  become: yes
  vars_files:
    - ../vars/variables.yml

  tasks:

    - name: Crear carpeta base del proyecto
      file:
        path: /var/www/clinica_app
        state: directory
        owner: www-data
        group: www-data
        mode: '0755'

    - name: Crear entorno virtual
      command: python3 -m venv /var/www/clinica_app/venv
      args:
        creates: /var/www/clinica_app/venv

    - name: Instalar pip en el entorno virtual
      pip:
        name: pip
        state: latest
        virtualenv: /var/www/clinica_app/venv

    - name: Copiar archivo requirements.txt
      copy:
        src: ../templates/requirements.txt
        dest: /var/www/clinica_app/requirements.txt
        owner: www-data
        group: www-data
        mode: '0644'

    - name: Instalar requirements dentro del entorno virtual
      pip:
        requirements: /var/www/clinica_app/requirements.txt
        virtualenv: /var/www/clinica_app/venv

    - name: Crear estructura Django (si no existe)
      command: /var/www/clinica_app/venv/bin/django-admin startproject clinica /var/www/clinica_app
      args:
        creates: /var/www/clinica_app/clinica

    - name: Crear app Core (si no existe)
      command: /var/www/clinica_app/venv/bin/python manage.py startapp core
      args:
        chdir: /var/www/clinica_app
        creates: /var/www/clinica_app/core

    ###############################
    # COPIA DE TEMPLATES DJANGO
    ###############################

    - name: Copiar settings.py
      template:
        src: ../templates/django_settings.py.j2
        dest: /var/www/clinica_app/clinica/settings.py
        owner: www-data
        group: www-data
        mode: '0644'

    - name: Copiar urls.py del proyecto
      template:
        src: ../templates/django_urls.py.j2
        dest: /var/www/clinica_app/clinica/urls.py
        owner: www-data
        group: www-data
        mode: '0644'

    - name: Copiar apps.py de Core
      template:
        src: ../templates/core/core_apps.py.j2
        dest: /var/www/clinica_app/core/apps.py
        owner: www-data
        group: www-data
        mode: '0644'

    - name: Copiar models.py de Core
      template:
        src: ../templates/core/core_models.py.j2
        dest: /var/www/clinica_app/core/models.py
        owner: www-data
        group: www-data
        mode: '0644'

    - name: Copiar admin.py de Core
      template:
        src: ../templates/core/core_admin.py.j2
        dest: /var/www/clinica_app/core/admin.py
        owner: www-data
        group: www-data
        mode: '0644'

    - name: Copiar views_public.py
      template:
        src: ../templates/core_views_public.py.j2
        dest: /var/www/clinica_app/core/views_public.py
        owner: www-data
        group: www-data
        mode: '0644'

    - name: Copiar urls_public.py
      template:
        src: ../templates/core_urls_public.py.j2
        dest: /var/www/clinica_app/core/urls_public.py
        owner: www-data
        group: www-data
        mode: '0644'

    ###############################
    # TEMPLATES WEB PÚBLICA
    ###############################

    - name: Crear carpeta templates
      file:
        path: /var/www/clinica_app/templates_public
        state: directory
        owner: www-data
        group: www-data
        mode: '0755'

    - name: Copiar templates públicos
      copy:
        src: ../templates/templates_public/
        dest: /var/www/clinica_app/templates_public/
        owner: www-data
        group: www-data
        mode: '0644'
      notify: restart gunicorn

    ###############################
    # MIGRACIONES
    ###############################

    - name: Ejecutar migraciones
      command: /var/www/clinica_app/venv/bin/python manage.py migrate
      args:
        chdir: /var/www/clinica_app

    ###############################
    # STATIC
    ###############################

    - name: Recopilar archivos estáticos
      command: /var/www/clinica_app/venv/bin/python manage.py collectstatic --noinput
      args:
        chdir: /var/www/clinica_app

    ###############################
    # GUNICORN
    ###############################

    - name: Copiar servicio Gunicorn
      template:
        src: ../templates/django_gunicorn.service.j2
        dest: /etc/systemd/system/gunicorn_clinica.service
        mode: '0644'

    - name: Reload systemd
      systemd:
        daemon_reload: yes

    - name: Iniciar Gunicorn
      systemd:
        name: gunicorn_clinica
        state: started
        enabled: yes

    ###############################
    # NGINX
    ###############################

    - name: Copiar configuración Nginx
      template:
        src: ../templates/django_nginx.conf.j2
        dest: /etc/nginx/sites-available/clinica
        mode: '0644'

    - name: Activar sitio
      file:
        src: /etc/nginx/sites-available/clinica
        dest: /etc/nginx/sites-enabled/clinica
        state: link
        force: true

    - name: Reiniciar nginx
      systemd:
        name: nginx
        state: restarted
        enabled: yes

  handlers:
    - name: restart gunicorn
      systemd:
        name: gunicorn_clinica
        state: restarted
