- name: Configurar backend2 como esclavo
  mysql_replication:
    mode: stopreplica   # primero detenemos cualquier réplica activa
    login_user: root
    login_password: "{{ db.root_password }}"
  delegate_to: backend2

- name: Configurar la replicación con master
  mysql_replication:
    mode: changeprimary
    master_host: "{{ hostvars['backend1']['ansible_host'] }}"
    master_user: "{{ db.repl_user }}"
    master_password: "{{ db.repl_password }}"
    master_log_file: "{{ replication.master_log_file }}"   # se obtiene de backend1
    master_log_pos: "{{ replication.master_log_pos }}"     # idem
    login_user: root
    login_password: "{{ db.root_password }}"
  delegate_to: backend2

- name: Iniciar la replicación
  mysql_replication:
    mode: startreplica
    login_user: root
    login_password: "{{ db.root_password }}"
  delegate_to: backend2
