---
- name: Configurar HTTPS con Certbot
  hosts: loadbalancer
  become: yes

  vars_files:
    - ../vars/variables.yml

  tasks:

    - name: Instalar Certbot
      apt:
        name: certbot
        state: present

    - name: Generar certificado
      command: >
        certbot --nginx -n --agree-tos
        --email {{ certbot.email }}
        -d {{ certbot.domain }}

    - name: Reiniciar nginx
      systemd:
        name: nginx
        state: restarted
