---
- name: Configurar NFS Client
  hosts: frontend
  become: yes

  vars_files:
    - ../vars/variables.yml

  tasks:

    - name: Instalar cliente NFS
      apt:
        name: nfs-common
        state: present

    - name: Montar directorio NFS
      mount:
        path: "{{ directories.shared_media }}"
        src: "{{ ip.nfs_server }}:{{ directories.shared_media }}"
        fstype: nfs
        state: mounted
