---
- name: Preparar Backend MySQL (idempotente)
  hosts: backend
  become: yes
  vars_files:
    - ../vars/variables.yml

  tasks:

    - name: Instalar MySQL + dependencias
      apt:
        name:
          - mysql-server
          - python3-pymysql
        update_cache: yes
        state: present

    - name: Asegurar que MySQL está iniciado
      systemd:
        name: mysql
        state: started
        enabled: yes

    - name: Habilitar event_scheduler
      lineinfile:
        path: /etc/mysql/mysql.conf.d/mysqld.cnf
        regexp: '^event_scheduler'
        line: 'event_scheduler = ON'

    - name: Abrir bind-address
      lineinfile:
        path: /etc/mysql/mysql.conf.d/mysqld.cnf
        regexp: '^bind-address'
        line: 'bind-address = 0.0.0.0'

    - name: Reiniciar MySQL
      systemd:
        name: mysql
        state: restarted

    - name: Crear base de datos
      mysql_db:
        name: "{{ db.name }}"
        state: present
        encoding: utf8mb4
        collation: utf8mb4_unicode_ci
        login_user: root
        login_password: "{{ db.root_password }}"

    - name: Crear usuario frontends
      mysql_user:
        name: "{{ db.user }}"
        password: "{{ db.password }}"
        host: "%"
        priv: "{{ db.name }}.*:ALL"
        state: present
        login_user: root
        login_password: "{{ db.root_password }}"

    - name: Crear usuario de replicación
      mysql_user:
        name: "{{ db.repl_user }}"
        password: "{{ db.repl_password }}"
        host: "%"
        priv: "*.*:REPLICATION SLAVE"
        state: present
        login_user: root
        login_password: "{{ db.root_password }}"
