---
- name: Montar NFS en servidores frontend
  hosts: frontend
  become: yes
  vars_files:
    - ../vars/variables.yml

  tasks:

    - name: Instalar cliente NFS
      apt:
        name: nfs-common
        state: present
        update_cache: yes

    - name: Crear media/
      file:
        path: /var/www/clinica_app/media
        state: directory

    - name: Montar NFS
      mount:
        src: "{{ hostvars['nfs1'].ansible_host }}:{{ nfs_export_dir }}"
        path: /var/www/clinica_app/media
        fstype: nfs
        opts: defaults
        state: mounted
