---
- name: Configurar Backend MySQL Master/Replica
  hosts: backend1,backend2
  become: yes
  vars_files:
    - ../vars/variables.yml

  tasks:
    - name: Actualizar sistema
      apt:
        update_cache: yes
        upgrade: yes

    - name: Instalar MySQL Server
      apt:
        name: mysql-server
        state: present

    - name: Asegurar MySQL iniciado
      service:
        name: mysql
        state: started
        enabled: yes

# Configuraci贸n Master
- name: Configurar Backend1 como Master
  hosts: backend1
  become: yes
  vars_files:
    - ../vars/variables.yml
  tasks:
    - name: Configurar bind-address
      lineinfile:
        path: /etc/mysql/mysql.conf.d/mysqld.cnf
        regexp: '^bind-address'
        line: 'bind-address = 0.0.0.0'

    - name: Configurar server-id para master
      lineinfile:
        path: /etc/mysql/mysql.conf.d/mysqld.cnf
        regexp: '^server-id'
        line: 'server-id = 1'

    - name: Habilitar binary log
      lineinfile:
        path: /etc/mysql/mysql.conf.d/mysqld.cnf
        regexp: '^log_bin'
        line: 'log_bin = /var/log/mysql/mysql-bin.log'

    - name: Reiniciar MySQL
      service:
        name: mysql
        state: restarted

    - name: Crear base de datos
      mysql_db:
        name: "{{ db.name }}"
        state: present
        login_user: root
        login_password: "{{ db.root_password }}"

    - name: Crear usuario de aplicaci贸n
      mysql_user:
        name: "{{ db.user }}"
        password: "{{ db.password }}"
        priv: "{{ db.name }}.*:ALL"
        host: "%"
        state: present
        login_user: root
        login_password: "{{ db.root_password }}"

    - name: Crear usuario de replicaci贸n
      mysql_user:
        name: "{{ db.repl_user }}"
        password: "{{ db.repl_password }}"
        host: "{{ ip.backend2 }}"
        priv: "*.*:REPLICATION SLAVE"
        state: present
        login_user: root
        login_password: "{{ db.root_password }}"

# Configuraci贸n Replica
- name: Configurar Backend2 como Replica
  hosts: backend2
  become: yes
  vars_files:
    - ../vars/variables.yml
  tasks:
    - name: Configurar bind-address
      lineinfile:
        path: /etc/mysql/mysql.conf.d/mysqld.cnf
        regexp: '^bind-address'
        line: 'bind-address = 0.0.0.0'

    - name: Configurar server-id para replica
      lineinfile:
        path: /etc/mysql/mysql.conf.d/mysqld.cnf
        regexp: '^server-id'
        line: 'server-id = 2'

    - name: Reiniciar MySQL
      service:
        name: mysql
        state: restarted
