---
- name: Preparar entorno Django en frontends
  hosts: frontend
  become: yes
  vars_files:
    - ../vars/variables.yml

  tasks:

    ##############################################################
    # 0) Dependencias
    ##############################################################
    - name: Instalar paquetes necesarios
      apt:
        name:
          - python3-venv
          - python3-pip
          - python3-dev
          - build-essential
          - libmariadb-dev
          - libmariadb-dev-compat
          - pkg-config
          - nginx
        state: present
        update_cache: yes

    ##############################################################
    # 1) Estructura del proyecto
    ##############################################################
    - name: Crear carpeta base del proyecto Django
      file:
        path: "{{ django_base_dir }}"
        state: directory
        owner: "{{ django_user }}"
        group: "{{ django_group }}"
        mode: "0755"

    - name: Crear entorno virtual
      command: "python3 -m venv {{ django_venv_dir }}"
      args:
        creates: "{{ django_venv_dir }}/bin/activate"

    ##############################################################
    # 2) Instalar dependencias
    ##############################################################
    - name: Copiar requirements.txt
      copy:
        src: "{{ templates_dir }}/requirements.txt"
        dest: "{{ django_base_dir }}/requirements.txt"

    - name: Instalar dependencias Python
      pip:
        requirements: "{{ django_base_dir }}/requirements.txt"
        virtualenv: "{{ django_venv_dir }}"
        virtualenv_python: python3

    ##############################################################
    # 3) Copiar código Django completo
    ##############################################################
    - name: Copiar código Django al servidor
      copy:
        src: "{{ templates_dir }}/"
        dest: "{{ django_base_dir }}/"
        owner: "{{ django_user }}"
        group: "{{ django_group }}"
        mode: "0755"
      notify: Restart gunicorn

    ##############################################################
    # 4) Static y Media
    ##############################################################
    - name: Crear carpeta static
      file:
        path: "{{ django_static_root }}"
        state: directory
        owner: "{{ django_user }}"
        group: "{{ django_group }}"

    - name: Crear carpeta media
      file:
        path: "{{ django_media_root }}"
        state: directory
        owner: "{{ django_user }}"
        group: "{{ django_group }}"

    - name: Ejecutar collectstatic
      command: >
        {{ django_venv_dir }}/bin/python manage.py collectstatic --noinput
      args:
        chdir: "{{ django_base_dir }}"

    ##############################################################
    # 5) Gunicorn
    ##############################################################
    - name: Copiar servicio Gunicorn
      template:
        src: "{{ templates_dir }}/django_gunicorn.service.j2"
        dest: /etc/systemd/system/gunicorn.service

    - name: Recargar systemd
      command: systemctl daemon-reload

    - name: Habilitar y arrancar Gunicorn
      systemd:
        name: gunicorn
        enabled: yes
        state: restarted

    ##############################################################
    # 6) Nginx
    ##############################################################
    - name: Copiar config Nginx
      template:
        src: "{{ templates_dir }}/django_nginx.conf.j2"
        dest: /etc/nginx/sites-available/clinica

    - name: Activar sitio
      file:
        src: /etc/nginx/sites-available/clinica
        dest: /etc/nginx/sites-enabled/clinica
        state: link
        force: yes

    - name: Reiniciar Nginx
      systemd:
        name: nginx
        state: restarted

  handlers:
    - name: Restart gunicorn
      systemd:
        name: gunicorn
        state: restarted
