---
- name: Configurar NFS Cliente
  hosts: frontend1,frontend2
  become: yes
  vars_files:
    - ../vars/variables.yml

  tasks:

    - name: Actualizar repositorios
      apt:
        update_cache: yes

    - name: Instalar cliente NFS
      apt:
        name: nfs-common
        state: present

    - name: Crear directorio local si no existe
      file:
        path: "{{ directories.web }}"
        state: directory
        mode: '0755'

    - name: Asegurar que no está montado previamente
      mount:
        path: "{{ directories.web }}"
        state: absent

    - name: Montar directorio NFS si no está montado
      mount:
        path: "{{ directories.web }}"
        src: "{{ ip.nfs_server }}:{{ directories.web }}"
        fstype: nfs
        opts: rw,sync,hard,intr
        state: mounted
