---
- name: Instalar Django en frontends
  hosts: frontend
  become: yes
  vars_files:
    - ../vars/variables.yml

  tasks:
    - name: Instalar dependencias
      apt:
        name:
          - python3
          - python3-venv
          - python3-pip
          - libmysqlclient-dev
        update_cache: yes

    - name: Crear carpeta del proyecto
      file:
        path: /var/www/clinica_app
        state: directory
        owner: www-data
        group: www-data

    - name: Crear entorno virtual
      command: python3 -m venv /var/www/clinica_app/venv

    - name: Instalar Django + Gunicorn + mysqlclient
      command: /var/www/clinica_app/venv/bin/pip install django gunicorn mysqlclient

    - name: Crear proyecto inicial
      command: /var/www/clinica_app/venv/bin/django-admin startproject clinica /var/www/clinica_app
      args:
        creates: /var/www/clinica_app/clinica

    - name: Copiar settings.py
      template:
        src: ../templates/django_settings.py.j2
        dest: /var/www/clinica_app/clinica/settings.py

    - name: Copiar wsgi.py
      template:
        src: ../templates/django_wsgi.py.j2
        dest: /var/www/clinica_app/clinica/wsgi.py

    - name: Copiar servicio Gunicorn
      template:
        src: ../templates/django_wsgi.service.j2
        dest: /etc/systemd/system/django_clinica.service

    - name: Recargar systemd
      systemd:
        daemon_reload: yes

    - name: Iniciar Gunicorn
      systemd:
        name: django_clinica.service
        enabled: yes
        state: started
