---
- name: Preparar servidores backend MySQL
  hosts: backend
  become: yes
  vars_files:
    - ../vars/variables.yml

  tasks:
    - name: Actualizar sistema
      apt:
        update_cache: yes
        upgrade: yes

    - name: Instalar MySQL Server
      apt:
        name:
          - mysql-server
          - python3-pymysql
        state: present

    - name: Asegurar que MySQL está iniciado
      service:
        name: mysql
        state: started
        enabled: yes

    - name: Habilitar event_scheduler
      lineinfile:
        path: /etc/mysql/mysql.conf.d/mysqld.cnf
        regexp: '^event_scheduler'
        line: 'event_scheduler = ON'

    - name: Asegurar bind-address abierto
      lineinfile:
        path: /etc/mysql/mysql.conf.d/mysqld.cnf
        regexp: '^bind-address'
        line: 'bind-address = 0.0.0.0'

    - name: Reiniciar MySQL
      service:
        name: mysql
        state: restarted

    - name: Crear base de datos clínica
      mysql_db:
        name: "{{ db.name }}"
        state: present
        login_user: root
        login_password: "{{ db.root_password }}"

    - name: Crear usuario para frontends
      mysql_user:
        name: "{{ db.user }}"
        password: "{{ db.password }}"
        host: "%"
        priv: "{{ db.name }}.*:ALL"
        state: present
        login_user: root
        login_password: "{{ db.root_password }}"

    - name: Crear usuario de replicación
      mysql_user:
        name: "{{ db.repl_user }}"
        password: "{{ db.repl_password }}"
        host: "%"
        priv: "*.*:REPLICATION SLAVE"
        state: present
        login_user: root
        login_password: "{{ db.root_password }}"

