---
- name: Configurar HTTPS con Let's Encrypt en el loadbalancer
  hosts: loadbalancer
  become: yes
  vars_files:
    - ../vars/variables.yml

  tasks:
    - name: Instalar certbot y plugin nginx
      apt:
        name:
          - certbot
          - python3-certbot-nginx
        state: present
        update_cache: yes

    - name: Solicitar/renovar certificado Let's Encrypt
      command: >
        certbot --nginx
        -d {{ domain_name }}
        --non-interactive --agree-tos
        -m {{ letsencrypt_email }}
        --redirect
      register: certbot_result
      changed_when: "'Congratulations' in certbot_result.stdout"

    - name: Activar timer de renovación automática
      systemd:
        name: certbot.timer
        enabled: yes
        state: started
