---
- name: Configurar sesiones PHP en MySQL + añadir ajustes en frontends
  hosts: backend, frontend
  become: yes

  vars_files:
    - ../vars/variables.yml

  tasks:

    #############################################################
    # 1. Crear tabla php_sessions en backend1
    #############################################################
    - name: Crear tabla php_sessions en backend maestro
      community.mysql.mysql_query:
        login_user: root
        login_password: "{{ db.root_password }}"
        login_db: "{{ db.name }}"
        query: |
          CREATE TABLE IF NOT EXISTS php_sessions (
              id VARCHAR(128) NOT NULL PRIMARY KEY,
              data BLOB NOT NULL,
              timestamp INT UNSIGNED NOT NULL
          ) ENGINE=InnoDB;
      when: inventory_hostname == "backend1"

    #############################################################
    # 2. Configurar php.ini en frontends
    #############################################################
    - name: Configurar PHP session handler en frontends
      lineinfile:
        path: /etc/php/8.3/apache2/php.ini
        regexp: '^session.save_handler'
        line: 'session.save_handler = user'
      when: "'frontend' in group_names"

    - name: Configurar session.save_path en frontends
      lineinfile:
        path: /etc/php/8.3/apache2/php.ini
        regexp: '^session.save_path'
        line: 'session.save_path = "tcp://{{ ip.backend1 }}:3306"'
      when: "'frontend' in group_names"


    #############################################################
    # 3. Insertar código PHP en config.php
    #############################################################
    - name: Insertar handler PHP en config.php (frontends)
      blockinfile:
        path: "{{ directories.www }}/config.php"
        insertbefore: "require_once"
        block: |
          session_set_save_handler(
              new MySQLSessionHandler(
                  '{{ ip.backend1 }}',
                  '{{ db.user }}',
                  '{{ db.password }}',
                  '{{ db.name }}'
              )
          );
      when: "'frontend' in group_names"

    #############################################################
    # 4. Reiniciar Apache
    #############################################################
    - name: Reiniciar Apache en frontends
      service:
        name: apache2
        state: restarted
      when: "'frontend' in group_names"

