---
- name: Configurar servidor NFS
  hosts: nfs
  become: yes
  vars_files:
    - ../vars/variables.yml

  tasks:

    - name: Instalar NFS
      apt:
        name: nfs-kernel-server
        state: present
        update_cache: yes

    - name: Crear directorio exportado
      file:
        path: "{{ nfs_export_dir }}"
        state: directory
        owner: nobody
        group: nogroup
        mode: "0777"

    - name: Configurar /etc/exports
      template:
        src: "../templates/nfs/clinica.exports.j2"
        dest: "/etc/exports"
        mode: "0644"

    - name: Reiniciar NFS
      systemd:
        name: nfs-server
        state: restarted
        enabled: yes
