---
- name: Configurar replicación MySQL Maestro → Réplica
  hosts: backend
  become: yes

  vars_files:
    - ../vars/variables.yml

  tasks:

############################################################
# 1. Obtener estado del maestro SOLO en backend1 
############################################################
    - name: Obtener estado del maestro (SHOW MASTER STATUS)
      shell: |
        mysql -u root -p"{{ db.root_password }}" -e "SHOW MASTER STATUS\G"
      register: master_status_raw
      when: inventory_hostname == "backend1"

    - name: Extraer archivo de binlog (limpio)
      set_fact:
        binlog_file: "{{ (master_status_raw.stdout | regex_findall('File: (.*)'))[0] }}"
      when: inventory_hostname == "backend1"

    - name: Extraer posición del binlog (limpio)
      set_fact:
        binlog_pos: "{{ (master_status_raw.stdout | regex_findall('Position: (.*)'))[0] | int }}"
      when: inventory_hostname == "backend1"



############################################################
# 2. Crear host virtual que comparta variables al grupo
############################################################
    - name: Exportar binlog y posición a todos los hosts
      add_host:
        name: replication_info
        binlog_file: "{{ binlog_file }}"
        binlog_pos: "{{ binlog_pos }}"
      when: inventory_hostname == "backend1"

############################################################
# 3. CONFIGURACIÓN DEL ESCLAVO (backend2)
############################################################
    - name: Parar replicación si existía antes
      shell: mysql -u root -p"{{ db.root_password }}" -e "STOP REPLICA;"
      ignore_errors: true
      when: inventory_hostname == "backend2"

    - name: Resetear replicación
      shell: mysql -u root -p"{{ db.root_password }}" -e "RESET REPLICA ALL;"
      ignore_errors: true
      when: inventory_hostname == "backend2"

    - name: Aplicar CHANGE REPLICATION SOURCE TO
      shell: |
        mysql -u root -p"{{ db.root_password }}" -e "
          CHANGE REPLICATION SOURCE TO
            SOURCE_HOST='{{ ip.backend1 }}',
            SOURCE_USER='{{ db.replication_user }}',
            SOURCE_PASSWORD='{{ db.replication_pass }}',
            SOURCE_LOG_FILE='{{ hostvars['replication_info']['binlog_file'] }}',
            SOURCE_LOG_POS={{ hostvars['replication_info']['binlog_pos'] }};
        "
      when: inventory_hostname == "backend2"

    - name: Iniciar replicación en backend2
      shell: mysql -u root -p"{{ db.root_password }}" -e "START REPLICA;"
      when: inventory_hostname == "backend2"
