---
- name: Configurar entorno Django en frontend
  hosts: frontends
  become: yes

  vars:
    django_dir: /var/www/clinica_app
    project_name: clinica
    project_dir: "{{ django_dir }}/{{ project_name }}"
    venv_dir: "{{ django_dir }}/venv"

  tasks:

    - name: Instalar dependencias del sistema para mysqlclient
      apt:
        name:
          - pkg-config
          - build-essential
          - default-libmysqlclient-dev
        state: present
        update_cache: yes

    - name: Crear carpeta base del proyecto
      file:
        path: "{{ django_dir }}"
        state: directory
        owner: www-data
        group: www-data
        mode: '0755'

    - name: Crear entorno virtual
      command: python3 -m venv "{{ venv_dir }}"
      args:
        creates: "{{ venv_dir }}/bin/activate"

    - name: Generar requirements.txt
      template:
        src: "../templates/requirements.txt.j2"
        dest: "{{ django_dir }}/requirements.txt"
        mode: "0644"

    - name: Instalar paquetes Python del proyecto
      command: "{{ venv_dir }}/bin/pip install -r {{ django_dir }}/requirements.txt"

    - name: Comprobar si el proyecto Django ya existe
      stat:
        path: "{{ project_dir }}/manage.py"
      register: project_exists

    - name: Crear proyecto Django si no existe
      command: "{{ venv_dir }}/bin/django-admin startproject {{ project_name }} {{ django_dir }}"
      when: not project_exists.stat.exists

    - name: Generar settings.py
      template:
        src: "../templates/django_settings.py.j2"
        dest: "{{ project_dir }}/settings.py"
        owner: www-data
        group: www-data
        mode: "0644"

    - name: Generar urls.py
      template:
        src: "../templates/django_urls.py.j2"
        dest: "{{ project_dir }}/urls.py"
        mode: "0644"

    - name: Generar wsgi.py
      template:
        src: "../templates/django_wsgi.py.j2"
        dest: "{{ project_dir }}/wsgi.py"
        mode: "0644"

    - name: Crear servicio de Gunicorn
      template:
        src: "../templates/django_gunicorn.service.j2"
        dest: "/etc/systemd/system/gunicorn_clinica.service"
        mode: "0644"

    - name: Recargar systemd
      command: systemctl daemon-reload

    - name: Habilitar y arrancar Gunicorn
      systemd:
        name: gunicorn_clinica
        enabled: yes
        state: started

    - name: Generar configuración de Nginx
      template:
        src: "../templates/django_nginx.conf.j2"
        dest: "/etc/nginx/sites-available/clinica"
        mode: "0644"

    - name: Activar configuración de Nginx
      file:
        src: "/etc/nginx/sites-available/clinica"
        dest: "/etc/nginx/sites-enabled/clinica"
        state: link
      notify: Restart nginx

  handlers:
    - name: Restart nginx
      service:
        name: nginx
        state: restarted
