---
- name: Configurar NFS Server
  hosts: nfs
  become: yes

  vars_files:
    - ../vars/variables.yml

  tasks:
    - name: Instalar NFS server
      apt:
        name: nfs-kernel-server
        state: present

    - name: Crear directorio de medios compartidos
      file:
        path: "{{ directories.shared_media }}"
        state: directory
        mode: '0777'
        owner: nobody
        group: nogroup

    - name: Configurar /etc/exports
      copy:
        dest: /etc/exports
        content: |
          {{ directories.shared_media }} {{ network.frontend_network }}(rw,sync,no_subtree_check)

    - name: Reiniciar servicio NFS
      service:
        name: nfs-kernel-server
        state: restarted
