- name: Configurar NFS Cliente
  hosts: frontend1,frontend2
  become: yes
  vars_files:
    - ../vars/variables.yml

  tasks:
    - name: Instalar cliente NFS si no está
      apt:
        name: nfs-common
        state: present

    - name: Montar directorio NFS si no está montado
      mount:
        path: "{{ directories.wordpress }}"
        src: "{{ ip.nfs_server }}:{{ directories.wordpress }}"
        fstype: nfs
        opts: auto,nofail,noatime,nolock,intr,tcp,actimeo=1800
        state: mounted
