---
- name: Configurar replicación MySQL Master/Slaves
  hosts: backend
  become: yes

  vars_files:
    - ../vars/variables.yml

  tasks:

    #######################################################################
    # Detectar rol de este servidor (según variables.yml)
    #######################################################################

    - name: Detectar si este host es el MASTER
      set_fact:
        is_master: "{{ ansible_host == db.master }}"

    - name: Detectar si este host es SLAVE
      set_fact:
        is_slave: "{{ ansible_host in db.slaves }}"

    - debug:
        msg: "Host {{ inventory_hostname }} | MASTER={{ is_master }} | SLAVE={{ is_slave }}"

    #######################################################################
    # CONFIGURACIÓN DEL MASTER
    #######################################################################

    - name: Configurar MASTER - server-id = 1 y binary logging
      lineinfile:
        path: /etc/mysql/mysql.conf.d/mysqld.cnf
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        state: present
      loop:
        - { regexp: '^server-id', line: 'server-id = 1' }
        - { regexp: '^log_bin', line: 'log_bin = /var/log/mysql/mysql-bin.log' }
      when: is_master

    - name: Reiniciar MySQL en MASTER
      service:
        name: mysql
        state: restarted
      when: is_master

    - name: Crear usuario de replicación en MASTER
      community.mysql.mysql_user:
        name: repl_user
        password: "{{ db.repl_password }}"
        host: "%"
        priv: "*.*:REPLICATION SLAVE"
        state: present
        login_user: root
        login_password: "{{ db.root_password }}"
      when: is_master

    - name: Obtener MASTER STATUS
      command: mysql -u root -p{{ db.root_password }} -e "SHOW MASTER STATUS\G"
      register: master_status
      when: is_master

    - debug:
        var: master_status.stdout_lines
      when: is_master

    #######################################################################
    # CONFIGURACIÓN DE LOS SLAVES
    #######################################################################

    - name: Configurar SLAVE - server-id basado en último octeto
      lineinfile:
        path: /etc/mysql/mysql.conf.d/mysqld.cnf
        regexp: '^server-id'
        line: "server-id = {{ ansible_host.split('.')[-1] }}"
      when: is_slave

    - name: Reiniciar MySQL en SLAVE
      service:
        name: mysql
        state: restarted
      when: is_slave

    - name: Parar replicación por si estaba activa
      command: mysql -u root -p{{ db.root_password }} -e "STOP SLAVE;"
      when: is_slave

    - name: Configurar SLAVE con CHANGE MASTER TO
      command: >
        mysql -u root -p{{ db.root_password }} -e "
        CHANGE MASTER TO
        MASTER_HOST='{{ db.master }}',
        MASTER_USER='repl_user',
        MASTER_PASSWORD='{{ db.repl_password }}',
        MASTER_LOG_FILE='{{ (hostvars[groups['backend'].1].master_status.stdout_lines | select('search', 'File') | list | first).split(':')[1] | trim }}',
        MASTER_LOG_POS={{ (hostvars[groups['backend'].1].master_status.stdout_lines | select('search', 'Position') | list | first).split(':')[1] | trim }};
        "
      when: is_slave and hostvars[groups['backend'].1].master_status is defined

    - name: Iniciar replicación en SLAVE
      command: mysql -u root -p{{ db.root_password }} -e "START SLAVE;"
      when: is_slave

    - name: Mostrar estado SLAVE
      command: mysql -u root -p{{ db.root_password }} -e "SHOW SLAVE STATUS\G"
      register: slave_status
      when: is_slave

    - debug:
        var: slave_status.stdout_lines
      when: is_slave
