---  
- name: Instalar y configurar MySQL Backend (Maestro y Réplica)
  hosts: backend
  become: yes

  vars_files:
    - ../vars/variables.yml

  tasks:

    - name: Actualizar repositorios
      apt:
        update_cache: yes

    - name: Instalar MySQL Server
      apt:
        name: mysql-server
        state: present

    - name: Instalar dependencias MySQL para Ansible
      apt:
        name: python3-pymysql
        state: present

    - name: Instalar PHP CLI
      apt:
        name: php-cli
        state: present

    - name: Configurar root con password
      mysql_user:
        name: root
        password: "{{ db.root_password }}"
        host: localhost
        login_unix_socket: /var/run/mysqld/mysqld.sock
        check_implicit_admin: yes
        priv: "*.*:ALL,GRANT"
        state: present

    - name: Crear /root/.my.cnf
      copy:
        dest: /root/.my.cnf
        mode: '0600'
        owner: root
        group: root
        content: |
          [client]
          user=root
          password={{ db.root_password }}

    - name: Permitir conexiones externas
      lineinfile:
        path: /etc/mysql/mysql.conf.d/mysqld.cnf
        regexp: '^bind-address'
        line: 'bind-address = 0.0.0.0'

    - name: Activar log_bin
      lineinfile:
        path: /etc/mysql/mysql.conf.d/mysqld.cnf
        regexp: '^log_bin'
        line: 'log_bin = mysql-bin'

    - name: Configurar server-id
      lineinfile:
        path: /etc/mysql/mysql.conf.d/mysqld.cnf
        regexp: '^server-id'
        line: "server-id = {{ '1' if inventory_hostname == 'backend1' else '2' }}"

    - name: Reiniciar MySQL
      service:
        name: mysql
        state: restarted

    - name: Crear usuario de la aplicación
      mysql_user:
        name: "{{ db.user }}"
        password: "{{ db.password }}"
        host: "{{ item }}"
        priv: "{{ db.name }}.*:ALL"
        state: present
      loop:
        - "{{ ip.frontend1 }}"
        - "{{ ip.frontend2 }}"
        - "%"
        - "localhost"

    - name: Crear usuario de replicación (solo backend1)
      mysql_user:
        name: "{{ db.replication_user }}"
        password: "{{ db.replication_pass }}"
        host: "%"
        priv: "*.*:REPLICATION SLAVE,REPLICATION CLIENT"
        state: present
      when: inventory_hostname == 'backend1'

    - name: Obtener estado maestro
      shell: mysql -u root -p"{{ db.root_password }}" -e "SHOW MASTER STATUS\G"
      register: master_status
      changed_when: false
      when: inventory_hostname == "backend1"

    - name: Registrar archivo binlog (string)
      set_fact:
        binlog_file: "{{ master_status.stdout | regex_search('File: (.*)') | trim }}"
      when: inventory_hostname == 'backend1'

    - name: Registrar posición binlog (string)
      set_fact:
        binlog_pos: "{{ master_status.stdout | regex_search('Position: (.*)') | trim | int }}"
      when: inventory_hostname == 'backend1'

    - name: Parar replicación si existe
      shell: mysql -u root -p"{{ db.root_password }}" -e "STOP REPLICA;"
      ignore_errors: true
      when: inventory_hostname == "backend2"

    - name: Resetear replicación
      shell: mysql -u root -p"{{ db.root_password }}" -e "RESET REPLICA ALL;"
      ignore_errors: true
      when: inventory_hostname == "backend2"

    - name: Aplicar CHANGE REPLICATION SOURCE TO
      shell: |
        mysql -u root -p"{{ db.root_password }}" -e "
          CHANGE REPLICATION SOURCE TO
            SOURCE_HOST='{{ ip.backend1 }}',
            SOURCE_USER='{{ db.replication_user }}',
            SOURCE_PASSWORD='{{ db.replication_pass }}',
            SOURCE_LOG_FILE='{{ hostvars['backend1']['binlog_file'] }}',
            SOURCE_LOG_POS={{ hostvars['backend1']['binlog_pos'] }};
        "
      when: inventory_hostname == "backend2"

    - name: Iniciar replicación
      shell: mysql -u root -p"{{ db.root_password }}" -e "START REPLICA;"
      when: inventory_hostname == "backend2"
