- hosts: frontend
  become: yes
  vars_files:
    - ../vars/variables.yml

  tasks:
    - name: Instalar cliente NFS
      apt:
        name: nfs-common
        state: present
        update_cache: yes

    - name: Crear carpeta de montaje para media
      file:
        path: /var/www/clinica_media
        state: directory
        owner: www-data
        group: www-data
        mode: "0775"

    - name: Configurar montaje NFS en fstab
      mount:
        src: "{{ nfs_server }}:/var/www/clinica_media"
        path: /var/www/clinica_media
        fstype: nfs
        opts: rw
        state: mounted
